*.DS_Store
*.prob
*.json
*.sqlite
*.ipch
*.db
atCoder/.vs/atCoder/v16/.suo
*.exe
usaco_training/test.dSYM/Contents/Info.plist
usaco_training/test.dSYM/Contents/Resources/DWARF/test
*.bin
cses/test_input.txt
cses/test_output.txt
cses/out.txt
cses/user_output.txt
in.txt
out.txt
test.cpp
*.plist
z_etc/advent_of_code/in2.txt
